

#grad1{
	/*background-image: linear-gradient(#663399,#FF1493,#FF69B4);*/
background-image:  repeating-radial-gradient(grey,RebeccaPurple,black);

}



.btn-primary:hover,
.btn-primary:focus{
box-shadow: 0 0 0.5em -0.4em var(--hover);
transform: translateY(-0.50em);	
}

.btn-warning:hover,
.btn-warning:focus{
	animation: btn-warning 1s;
	box-shadow: 0 0 0 2em rgba(255,215,0);
}

@keyframes btn-warning {
	0% {box-shadow: 0 0 0 0 var(--hover);}
}
.btn-danger:hover,
.btn-danger:focus{
	animation: btn-danger 1s;
	box-shadow: 0 0 0 2em rgba(255,0,0);
}

@keyframes btn-danger {
	0% {box-shadow: 0 0 0 0 var(--hover);}
}


#box{
	width:1125px;
	height:160px;
	margin-top: 20px;
	padding-top: 50px;
	padding-right:30px;
	padding-left:30px;
	padding-left: 80px;

	background-image: repeating-radial-gradient(  DeepPink,RebeccaPurple);
}
.avtar {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.avtar:hover .image {
  opacity: 0.3;
}

.avtar:hover .middle {
  opacity: 1;
}

.text {
  background-color: LightSeaGreen;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
